table tr:hover {
  cursor: pointer;
}

.table-scrollbar {
  position: relative;
  height: 60vh;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.tableFixHead {
  overflow-y: auto;
  height: 70vh;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}

.tableHeaderBackground {
  background: rgb(150, 150, 147);
  color: white;
}

.ngb-highlight {
  background: yellow;
  color: red;
}

.margin-top {
  margin-top: 150px;
}

// table.table-hover {
//   background-color: yellow;
// }

.table tr.active td {
  background-color: #123456 !important;
  color: white;
}

.table tr.active th {
  background-color: #123456 !important;
  color: white;
}
