<!-- Horizontal Form-->


<div class="card-close">
  <div class="dropdown">
    <button type="button" id="closeCard2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"
            class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
    <div aria-labelledby="closeCard2"
         class="dropdown-menu dropdown-menu-right has-shadow"><a href="#"
         class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a
         href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a>
    </div>
  </div>
</div>
<div class="card-header d-flex align-items-center">
  <p class="h4">Detalle de la tienda</p>
</div>
<div class="card-body">

  <!-- /********************************************************************************/ -->
  <form class="form-horizontal two-col" [formGroup]="recordForm">

    <!-- storeId -->
    <!-- [readonly]="recordForm.value.storeId? true: false"  -->
    <article class="form-group" id="storeId">
      <label class="register-label small">Id</label>
      <input type="text" formControlName="storeId"
             class="form-control register-input" [ngClass]="" disabled />
      <div *ngIf="(f.storeId.errors && !f.storeId.pristine)"
           class="small text-danger">
        <div *ngIf="f.storeId.errors.required">
          Este dato es obligatorio
        </div>
      </div>
    </article>

    <!-- storeCodeId -->
    <article class="form-group" id="storeCodeId">
      <label class="register-label small">Código</label>
      <input type="text" formControlName="storeCodeId"
             class="form-control register-input" />
      <div *ngIf="(f.storeCodeId.errors && !f.storeCodeId.pristine)"
           class="small text-danger">
        <div *ngIf="f.storeCodeId.errors.required">
          Este dato es obligatorio
        </div>
      </div>
    </article>

    <!-- storeName -->
    <article class="form-group" id="storeName">
      <label class="register-label small">Nombre</label>
      <input type="text" formControlName="storeName"
             class="form-control register-input" />
      <div *ngIf="(f.storeName.errors && !f.storeName.pristine)"
           class="small text-danger">
        <div *ngIf="f.storeName.errors.required">
          Este dato es obligatorio
        </div>
      </div>
    </article>

    <!-- storeAddress -->
    <article class="form-group" id="storeAddress">
      <label class="register-label small">Dirección</label>
      <input type="text" formControlName="storeAddress"
             class="form-control register-input" />
      <div *ngIf="(f.storeAddress.errors && !f.storeAddress.pristine)"
           class="small text-danger">
        <div *ngIf="f.storeAddress.errors.required">
          Este dato es obligatorio
        </div>
      </div>
    </article>

    <!-- storePhone -->
    <article class="form-group" id="storePhone">
      <label class="register-label small">Teléfono</label>
      <input type="text" formControlName="storePhone"
             class="form-control register-input" />
      <div *ngIf="(f.storePhone.errors && !f.storePhone.pristine)"
           class="small text-danger">
        <div *ngIf="f.storePhone.errors.required">
          Este dato es obligatorio
        </div>
      </div>
    </article>

    <!-- storeInCharge -->
    <article class="form-group" id="storeInCharge">
      <label class="register-label small">Encargado</label>
      <input type="text" formControlName="storeInCharge"
             class="form-control register-input" />
      <div *ngIf="(f.storeInCharge.errors && !f.storeInCharge.pristine)"
           class="small text-danger">
        <div *ngIf="f.storeInCharge.errors.required">
          Este dato es obligatorio
        </div>
      </div>
    </article>


    <div class="d-flex justify-content-between mt-0 pt-2 mb-0 pb-0">
      <div class="form-group row">

        <input type="submit" value="Guardar" class="btn btn-success btn-sm mr-1"
               *ngIf="!recordForm.pristine && recordForm.valid"
               (click)="onSubmit()">
        <input type="button" value="Regresar a la lista" (click)="onReturn()"
               class="btn btn-secondary btn-sm mr-1">

      </div>
    </div>
  </form>
</div>