<div class="page login-page">
  <div class="container d-flex align-items-center">
    <div class="form-holder has-shadow">
      <div class="row">


        <!-- Logo & Information Panel-->
        <div class="col-lg-4">
          <div class="info d-flex align-items-center">
            <div class="content">
              <div class="logo">
                <h1>ProSer</h1>
                <h2>Registro de usuario</h2>
              </div>
            </div>
          </div>
        </div>

        <!-- Form Panel    -->
        <div class="col-lg-8 bg-white">

          <div class=" align-items-center">
            <div class="form container">

              <form method="post" class="form-validate" [formGroup]="mainForm">
                <!-- First row -->
                <section class="row">
                  <!-- username -->
                  <div class="form-group col">
                    <label class="label-material">Nombre de usuario</label>
                    <input id="username" type="text" name="username"
                           class="input-material" formControlName="username">
                  </div>
                  <!-- email -->
                  <div class="form-group col">
                    <label class="label-material">Correo</label>
                    <input id="email" type="text" name="email"
                           class="input-material" formControlName="email">
                  </div>
                </section>

                <!-- Second row -->
                <section class="row ">
                  <!-- firstname -->
                  <div class="form-group col">
                    <label class="label-material">Nombre</label>
                    <input id="firstname" type="text" name="firstname"
                           class="input-material" formControlName="firstname">
                  </div>
                  <!-- lastname -->
                  <div class="form-group col">
                    <label class="label-material">Apellido</label>
                    <input id="lastname" type="text" name="lastname"
                           class="input-material" formControlName="lastname">
                  </div>
                </section>


                <!-- Third row -->
                <section class="row ">
                  <!-- profile -->
                  <div class="form-group col">
                    <label class="label-material">Perfil</label>
                    <input id="profile" type="text" name="profile"
                           class="input-material" formControlName="profile">
                  </div>
                  <!-- -->
                  <div class="form-group col">

                  </div>
                </section>

                <!-- Fourth row -->
                <section class="row ">
                  <!-- firstname -->
                  <div class="form-group col">
                    <label class="label-material">Contraseña</label>
                    <input id="password" type="password" name="password"
                           required data-msg="Please enter your password"
                           class="input-material">
                  </div>
                  <!-- lastname -->
                  <div class="form-group col">
                    <label class="label-material">Repita contraseña</label>
                    <input id="password" type="password" name="password"
                           required data-msg="Please enter your password"
                           class="input-material">
                  </div>
                </section>

                <!-- Fifth row -->
                <section class="row ">
                  <!-- Button -->
                  <div class="form-group col">
                    <a id="login" (click)="onSubmit()"
                       class="btn btn-primary text-white">Registrar</a>
                  </div>
                  <!--  -->
                  <div class="form-group col">

                  </div>
                </section>

                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
              </form>
              <!-- <a href="#" class="forgot-pass">Olvidé mi
                contraseña?</a><br><small>¿No tienes una cuenta? </small><a
                 href="register.html" class="signup">Regístrate</a> -->
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>