/* Custom css */

nav.side-navbar {
  background: rgb(175, 153, 241);
  min-width: 250px;
  max-width: 250px;
  color: #686a76;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 9;
  /*==== Sidebar Header ====*/
  /*==== Sidebar Menu ====*/
  /*==== Shrinked Sidebar ====*/
}


.left-mdsidenav {
  width: 220px;
  height: 100vh;
  // position: fixed;
  overflow-y: scroll;
}

nav.side-navbar span.heading {
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 20px;
  color: rgb(41, 41, 41);
  font-size: 0.8em;
}
